/* blog-widger */

#contBlocks
{
	width: 90%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:40px;
	margin-top:20px;
}

.blocks
{
	background-color: #F9F9F9;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: margin-left 0.40s cubic-bezier(.17,.67,.43,.98);
}

.blocks img
{
	width: 100%;
}

.blocks h2
{
	margin-top:25px;
	margin-left: 25px;
	margin-right: 25px;
	color:#4A4A4A;
}

.blocks p
{
	margin:25px;
	margin-top:0;
	margin-top:10px;
	margin-bottom:10px;
	color:#4A4A4A;
}

.blocks ul
{
	margin-left:25px;
	margin-bottom:25px;
}

.blocks ul, .blocks p
{
	max-width: 340px;
}

.blocks ul li a
{
	font-size:18px;
}

.blocks ul li
{
	margin-bottom: 20px;
}

.blocks ul li span
{
	font-size: 14px;
	color:rgba(0,0,0,0.5);
}

.frets
{
	background-color: rgba(166,230,100,0.7);
	position: absolute;
	height: 60px;
}

.les
{
	background-image: url("/img/guitar-small.png");
	background-repeat: no-repeat;
}

#les-1
{	
    background-position: 10px -100px;
}

#les-2
{	
    background-position: 10px -100px;
}

#les-3
{	
    background-position: 10px -100px;
}

#les-4
{	
    background-position: -125px -100px;
}

#les-5
{	
    background-position: -125px -100px;
}

#les-6
{	
    background-position: -125px -100px;
}

#les-1 .frets
{
	width:17px;
	margin-left:127px;
	margin-top:21px;
}

#les-2 .frets
{
	width:69px;
	margin-left:144px;
	margin-top:21px;
}

#les-3 .frets
{
	width:60px;
	margin-left:213px;
	margin-top:21px;
}

#les-4 .frets
{
	width:51px;
	margin-left:138px;
	margin-top:21px;
}

#les-5 .frets
{
	width:44px;
	margin-left:189px;
	margin-top:21px;
}

#les-6 .frets
{
	width:37px;
	margin-left:233px;
	margin-top:21px;
}

.blocks a
{
	padding:5px;
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}
.blocks a:hover
{
	border-radius: 8px;
	color:white;
	border-bottom:none;
	background: rgb(149,244,198);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTVmNGM2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY1ZDJlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, rgba(149,244,198,1) 0%, rgba(101,210,237,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(149,244,198,1)), color-stop(100%,rgba(101,210,237,1)));
    background: -webkit-linear-gradient(45deg, rgba(149,244,198,1) 0%,rgba(101,210,237,1) 100%);
	background: -o-linear-gradient(45deg, rgba(149,244,198,1) 0%,rgba(101,210,237,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(149,244,198,1) 0%,rgba(101,210,237,1) 100%);
	background: linear-gradient(45deg, rgba(149,244,198,1) 0%,rgba(101,210,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95f4c6', endColorstr='#65d2ed',GradientType=1 );
}

li
{
	list-style: none; /* Убираем исходные маркеры */
    background: url('/img/note.svg') no-repeat 0 2px; /* Параметры фона */
    padding-left: 24px; /* Смещаем текст вправо */
}

.tips
{
	margin-bottom:20px !important;
	margin-top:20px;
}

.tips li
{
	padding-right: 20px;
	margin-bottom:10px !important;
	list-style: none; /* Убираем исходные маркеры */
    padding-left: 24px; /* Смещаем текст вправо */
    background: url('/img/tips.svg') no-repeat 0px 2px; /* Параметры фона */
}

.tips li:last-child
{
	margin-bottom:0;
}
