#menu-button
{
	width:50px;
	height:50px;
	background-image: url('/img/menu-button.svg');
	background-repeat: no-repeat;
	background-position: 5px 7px;
}

#pause-button
{
	width:28px;
	height:28px;
	background-image: url('/img/pause.svg');
	background-repeat: no-repeat;
	background-position: 7px 6px;
}

#play-button, #next-button
{
	width:118px;
	height:28px;
	font-size: 20px;
	text-align: center;
}

.controls
{
	margin-top: 20px;
	text-align: center;
}

.control
{
	display: inline-block;
	vertical-align: top;
	
}

#note-container
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#modal
{
	display: none;

	background: rgb(149,244,198);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTVmNGM2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY1ZDJlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, rgba(149,244,198,1) 0%, rgba(101,210,237,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(149,244,198,1)), color-stop(100%,rgba(101,210,237,1)));
    background: -webkit-linear-gradient(45deg, rgba(149,244,198,1) 0%,rgba(101,210,237,1) 100%);
	background: -o-linear-gradient(45deg, rgba(149,244,198,1) 0%,rgba(101,210,237,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(149,244,198,1) 0%,rgba(101,210,237,1) 100%);
	background: linear-gradient(45deg, rgba(149,244,198,1) 0%,rgba(101,210,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95f4c6', endColorstr='#65d2ed',GradientType=1 );

	overflow: scroll;
}

#modal-content
{
	width:90%;
	max-width:700px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 20px;
	margin-left:auto;
	margin-right: auto;
	margin-top:100%;
	overflow: hidden;
	margin-bottom:50px;
}

#modal-content h2
{
	text-align: center;
	margin-top: 20px;
}

#modal-content h3
{

}

.check-box-text
{
	margin-top: 12px;	
}

.stroke
{
	overflow: hidden;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.devider
{
	border-bottom:1px dashed #c7c7c7;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom:20px;
}

.end-devider
{
	margin-bottom: 20px;
}

.modal-left
{
	float:left;
	width:50%;
	overflow: hidden;
}

.modal-right
{
	float:right;
	width:50%;
	text-align:right;
}

.modal-center
{
	clear:both;
	margin-top: 20px;
}

.range-value
{
	text-align: center;
	font-size: 24px;
}

.modal-small
{
	margin-top: 30px;
	padding-left: 7px;
	padding-right: 7px;
}

.closebt-container
{
	text-align: center;
	margin-top:20px;
}

.closebt-container img
{
	width:52px;
	height:52px;
	border:none;
}

.closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
}

.closebt:hover {
	transform:rotate(90deg);
	border:none;
}

#try-sound
{
	width:50px;
	height:36px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	background-image: url('/img/sound.svg');
	background-repeat: no-repeat;
	background-position: -45px -47px;
	padding-left: 30px;
	font-size: 24px;
}

.button-3d-disable
{
	background-color: #fff;
	display: block;
	border-radius: 8px;
	background: white;
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
    margin-bottom:10px;
    border-bottom:none;
}

#next-button, #pause-button
{
	display: none;
	opacity:0;
}

#loader-container
{
	width:180px;
	height: 180px;
	margin-right: auto;
	margin-left:auto;
	margin-top: 10px;
}

#note-on-guitar
{
	border-radius: 30px;
	width: 20px;
	height: 20px;
	background-color:rgba(178,253,111,0.9);
	position: absolute;
	opacity:0;
}

#load-status
{
	display: block;
	background-color: white;
	position:fixed; 
	top:0; 
	left:0;
	opacity:0.8;
	width:100%;
	height: 700px;
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

#load-status h2
{
	text-align: center;
	margin-top:50px;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #59cd9d; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

#load-progress
{
	position:absolute;
	width:100%;
	margin-top:98px !important;
	font-size:40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#tips-block
{
	width:300px;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.5);
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
	position: absolute;
	padding:20px;
	top:-300px;
}

@media screen and (max-width: 350px) {
	#tips-block	
	{
		width:80%;
	}
}

#tips-block p
{
	color:white;
	margin-top:10px;
}

.btn-in-tips
{
	border:1px solid white;
	border-radius:5px;
	padding-left:5px;
	padding-right:5px;
	color:white;
}

