@font-face {
    font-family: "Open Sans Condensed";
    src: url("/fonts/open-sans-condensed-light/OpenSansCondensedLight.eot");
    src: url("/fonts/open-sans-condensed-light/OpenSansCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("/fonts/open-sans-condensed-light/OpenSansCondensedLight.woff") format("woff"),
    url("/fonts/open-sans-condensed-light/OpenSansCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

*
{
	padding:0;
	margin:0;
	font-family:'Open Sans Condensed', sans-serif;
	font-style: normal;
	font-weight: 300;
	color:black;
}

h1,h2,h3,h4,h5, .button, a
{
	text-transform: uppercase;
	letter-spacing: 1px;
}

a
{
	text-decoration: none;
	border-bottom:1px solid rgba(0,0,0,0.4);
	font-size:16px;
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

a:hover
{
	color:red;
	border-bottom-color:rgba(255,0,0,0.4);
}

body
{
	padding-top:10px;
	background-repeat: no-repeat;
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

header
{
	overflow: hidden;
}

.logo img, .text-logo img, .contacts img
{
	color:white;
	border:none;
}

.logo img
{
	width:54px;
	height: 59px;
}

.text-logo img
{
	width:129px;
	height: 18px;
}

.logo
{
	width:54px;
	height:59px;
	float:left;
}

.text-logo
{
	width:129px;
	height:18px;
	float:left;
	margin-top:20px;
	margin-left:5px;
}

.logo a, .text-logo a
{
	border-bottom:none;
}

.full-width
{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.right
{
	float:right;
}

.button
{
	background-color: #fff;
	display: block;
	border-radius: 8px;
	border:1px solid #c7c7c7;
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.button:hover
{
	background-color: #f4f4f4;
	border-bottom-color:#c7c7c7;
	color:black;
}

.button:active
{
	background-color: #ededed;
	color:black;
}

.lang
{
	display: none;
}

.lang, .back
{
	margin-right: 30px;
}

.lang span
{
	color:#c7c7c7;
}

@media screen and (max-width: 500px) {
	.text-logo, .text-logo img
	{
		display: none;
		width:90px;
	}
}

.button-3d
{
	background-color: #fff;
	display: block;
	color:white;
	border-radius: 8px;
	background-color: #4cd964 !important;
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
    margin-bottom:10px;
    border-bottom:none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.button-3d:hover
{
	background-color: #f4f4f4;
	border:none;
	color:rgba(0,0,0,0.3) !important;
}

.button-3d:active
{
	background-color: #ededed;
	color:black;
}

.page-header
{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	margin-top:30px;
	text-align: center;
}

.slider
{
	width:70%;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;	
	margin-top:30px;
	margin-bottom: 30px;
	
}

#help-button
{
	width:50px;
	height:50px;
	background-image: url('/img/help-button.svg');
	background-repeat: no-repeat;
	background-position: 17px 10px;
}

#to-next
{
	position: absolute;
	width:30px;
	height: 30px;
	border-radius: 30px;
	background-color: rgba(0,0,0,0.5);
	top:-10px;
	color:white;
	font-size: 20px;
	text-align: center;
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
	opacity: 0;
	padding-top: 2px;
}

.hero
{
	width:90%;
	padding-top:20px;
	padding-bottom:20px;
	margin-right: auto;
	margin-left: auto;
	margin-top:30px;
	border-radius: 10px;
	max-width: 960px;
	overflow: hidden;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#58ce9b+0,5eb0d6+49,7463e2+100 */
	background: #58ce9b; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #58ce9b 0%, #5eb0d6 49%, #7463e2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #58ce9b 0%,#5eb0d6 49%,#7463e2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #58ce9b 0%,#5eb0d6 49%,#7463e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58ce9b', endColorstr='#7463e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.hero-left
{
	float:left;
	width:30%;
	margin-left:20px;
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}
.hero-right
{
	float:right;
	padding-right:20px;
	width:60%;
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.hero-right img
{
	border-radius: 10px;
	width: 100%;
}

@media screen and (max-width: 820px) {
	.hero-right
	{
		float:none;
		width: 90%;
		margin-right: auto;
		margin-left:auto;
		padding:0;
	}

	.hero-right img
	{
		margin-top:20px;
	}

	.hero-left
	{
		float:none;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		padding:0;
	}

	.hero-left h1, .hero-left h2
	{
		margin-left: 0 !important;
		padding:0;
	}
}

.hero h1
{
	color:white;
	margin:0;
	text-align: left;
	line-height: 120%;
	word-spacing: 2px;
}

.hero h2
{
	color:white;
	margin:0;
	text-align: left;
	line-height: 120%;
	letter-spacing: 0;
	text-transform: none;
	margin-top:20px;
}

a.how-it-works
{
	display: block;
	border-radius: 20px;
	border:1px solid white;
	width:150px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	color:white;
}

a.how-it-works:hover
{
	background-color: rgba(255,255,255,0.5);
}

footer
{
	overflow: hidden;
	padding-bottom:20px;
	margin-top:20px;
}

footer a
{
	text-transform: none;
}

.col
{
	width:33%;
	float:left;
}

.contacts
{
	overflow: hidden;
}

.mail
{
	float:left;
}

.vk-contact
{
	float:left;
	margin-top:2px;
	padding-bottom:10px;
	margin-left:10px;
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 593px) {
	.vk-contact
	{
		margin-top:10px;
		margin-left:0;
		clear:left;
	}
}

.vk-contact img
{
	width: 100%;
}

.vk-contact a
{
	border-bottom: none;
}

.about-stroke
{
	overflow: hidden;
	margin-top:60px;
	//padding-bottom:30px;
	max-width: 960px;
}

.about-stroke h2
{
	text-align: left;
	margin-left:0;
	margin-top:0;
}

.about-stroke img
{
	width:100%;
}

.about-small
{
	width: 30%;
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.about-big
{
	width:64%;
	transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.about-left
{
	float:left;
}

.about-right
{
	float:right;
}

.step-left
{
	margin-left:6%;
}

.step-right
{
	margin-left:6%;
}

@media screen and (max-width: 800px) {
	.about-left
	{
		float:none;
	}
	.about-big, .about-small
	{
		width:100%;
	}
	.step-left
	{
		margin-left:0;
		margin-top:20px;
	}
	.step-right
	{
		margin-left:0;
		margin-bottom:20px;
	}
	h1.page-header
	{
		text-align: left;
	}
}

.about-number
{
	font-size: 36px;
	padding-left: 17px;
	width: 33px;
	border-radius: 30px;
	border: 1px solid rgba(0,0,0,0.5);	
	margin-bottom: 10px;
}

.about-note, .about-note sup
{
	color:#b5b5b5;
	font-size: smaller;
}

.about-note
{
	margin-top:10px;
}

.about-note sup
{
	margin-left:-5px;
	position: absolute;
}

.last-stroke
{
	margin-bottom:60px;
}

.small-letters
{
	text-transform: none;
}
